* {
    box-sizing: border-box;
}

a {
    color: #006bde;
}

body {
    background-color: #f6f8fa!important;
}

main.container {
    width: max-content;
    max-width: 100%;
}

.outer-event-container {
    display: flex;
    align-items: baseline;
}

.event-container {
    margin: 10px;
    padding: 5px;
    padding-right: 10px;
    display: flex;
    align-items: baseline;
    border-radius: 10px;
    border: 1px solid #d4d8dd;
    background-color: #fff;
    width: 100%;
}

.event-icon {
    display: flex;
    color: #c5c5c5;
    width: 1em!important;
}

.event-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.event-timestamp {
    color: gray;
}

img.avatar {
    border-style: none;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

.user-avatar.avatar {
    margin-right: 10px;
}

.user-header {
    display: flex;
    align-items: baseline;
    margin: auto;
    width: max-content;
    margin-top: 10px;
}

.comment {
    color: gray;
}

.btn.login-info {
    margin-left: 0px;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
}

.login-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn.btn-snooze, .btn.btn-snooze:focus, .btn.btn-snooze:active  {
    padding: 0;
    text-align: center;
    border: none;
    background: none;
    background-color: transparent;
    color: #c5c5c5;
}

.pagination {
    width: max-content;
    margin: auto;
}