<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="GitHub Activity Feed">
  <meta name="keywords" content="GitHub, Activity, API, Flask">
  <meta name="author" content="Craig Bester">
  <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
  <title>GitHub Activity Feed</title>

  <link rel="stylesheet" href="static/style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Font-Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark static-top">
    <a class="navbar-brand" href="/">GitHub Activity Feed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault"
      aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      
      <ul class="navbar-nav mr-auto">
        {% if g.user %}
        <li class="nav-item">
          <a class="nav-link" href="/reminders">Reminders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <span class="login-holder">
          <a class="nav-link" href="/login">Login</a>
          <a tabindex="0" class="btn btn-secondary login-info" role="button" data-toggle="popover" 
          data-trigger="hover focus" data-placement="bottom"  data-content="Login to set event reminders.">?</a>
          </span>
        </li>
        {% endif %}
      </ul>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form>
    </div>
  </nav>

  <!-- Flash messages -->
  <div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'message' %}
          <div class="alert alert-warning" role="alert">
        {% else %}
          <div class="alert alert-{{ category }}" role="alert">
        {% endif %}
            {{ message }}
          </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  <main id="main" role="main" class="container">
    {% block content %}{% endblock %}
  </main>

  <!-- Bootstrap imports -->
  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- FontAwesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" 
    crossorigin="anonymous"></script>
  <script>
    // Enable popovers
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
  </script>
</body>
</html>
