{% extends 'base.html' %}

{% block content %}
  <div class="user-header">
    <a href="{{ user_details['html_url'] }}">
      <img class="user-avatar avatar" src="{{ user_details['avatar_url'] }}" width="50" height="50">
    </a>
    <h4>
      <a href="{{ user_details['html_url'] }}">
        {{ user_details['login'] }}
      </a>
    </h4>
  </div>
  {% if events %}
    {% for event in events %}
    <div id="{{ event['id'] }}" class="outer-event-container">
      <i class="event-icon fa-lg {{ event_icons[event['type']] }}"></i>
      <div class="event-container">
        <span class="mr-3">
          <a href="{{ event['actor']['url'] }}">
            <img class="avatar" src="{{ event['actor']['avatar_url'] }}" width="42" height="42">
          </a>
        </span>
        <div class="event-content">
          <small class="event-timestamp">
            {{ event['created_at'] | datetimesince }}
          </small>
          <span id="body-{{ event['id'] }}">
          <a href="{{ event['actor']['url'] }}">{{ event['actor']['login'] }}</a>
          {{ event_templates[event['type']](event)|safe }}
          </span>
        </div>
        {% if snoozed %}
        <span>
          <a tabindex="0" class="btn btn-snooze" role="button" data-toggle="popover" 
          data-trigger="hover" data-placement="bottom"  data-content="Cancel reminder"
        onclick="unsnooze({{ event['id'] }})">
          <i class="fas fa-check fa-lg"></i>
          </a>
        </span>
        {% else %}
        <span>
          <a tabindex="0" class="btn btn-snooze" role="button" data-toggle="popover" 
          data-trigger="hover" data-placement="bottom"  data-content="Set reminder"
        onclick="snooze({{ event['id'] }})">
          <i class="far fa-clock fa-lg"></i>
          </a>
        </span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  {% else %}
    No {% if snoozed %} reminders {% else %} events {% endif %} for {{ target_user }}!
  {% endif %}
{% endblock %}


{% block script %}
{% if events %}
<script>
  // Slow!
  let events = {{ events | tojson|safe }}

  let form = document.forms.search;
  form.onsubmit = filter;
  // Clear filter on x-click
  $("#search-text").on('search', clearFilter)

  function clearFilter() {
    // Show all elements hidden by the filter
    // NOTE: this triggers when the x is clicked AND on a search
    let formData = new FormData(form)
    let query = formData.get("search-text")
    if(query) { // don't clear if there is a search term
      return
    }
    console.log("Clearing filter...")
    events.filter(function(event) {
      const id = event['id']
      const elem = $("#"+id)
      if (elem) { // element may not exist due to reminders
        elem.show()
      }
    });
  }

  function filter() {
    // TODO: formData is always empty, weird...
    let formData = new FormData(form)
    let query = formData.get("search-text")

    if(query) {
      query = query.trim().toLowerCase()
    } else {
      clearFilter()
      return false
    }
    console.log("Filter by: "+query)

    // Client-side search filtering since we already have all the events...
    events.filter(function(event) {
      const id = event['id']
      // Searching the DOM is SLOW but it has the formatted event descriptions which the events JSON lack.
      // TODO: insert the descriptions in the events JSON server-side?
      const elem = $("#"+id)
      if (elem) { // element may not exist due to reminders
        const text = elem.text()

        // hide elements not including the search string
        if(query && !text.toLowerCase().includes(query)) {
          elem.hide(200)
        } else {
          elem.show()
        }
      }
    });

    // Never submit to the server...
    return false
  }

  function unsnooze(event_id) {
    // Un-snoozes an event, which puts it back in the event list.
    console.log("Unsnoozing event "+event_id)

    // asynchronous unsnooze API POST
    postJSON("/unsnooze", JSON.stringify({'id': event_id}), function () {
        console.log("Unsnoozed event! " + event_id)
    });

    removeEventElement(event_id)
  }

  function snooze(event_id) {
    // Snooze an event by searching through the raw list of events and sending it as a JSON payload...
    console.log("Snoozing event "+event_id)

    // SLOW!
    pos = 0
    for(e in events) {
      if(events[e]['id'] == event_id) {
        break;
      }
      pos++
    }
    if(pos >= events.length) {
      console.error("Event id not found! " + event_id)
      return;
    }

    // asynchronous snooze API POST
    postJSON("/snooze", JSON.stringify(events[pos]), function () {
        console.log("Snoozed event! " + event_id)
    });
    
    removeEventElement(event_id)
  }

  function postJSON(url, json, callback) {
    // asynchronous API POST
    $.ajax({
      type: "POST",
      contentType: "application/json; charset=utf-8",
      url: url,
      data: json,
      success: callback,
      dataType: "json"
    });
  }

  function removeEventElement(event_id) {
    // remove event element from the DOM
    var elem = document.getElementById(event_id)
    elem.parentNode.removeChild(elem)
    $(".popover.show").popover('hide');
  }
</script>
{% endif %}
{% endblock %}